<!DOCTYPE html>
<html>

    <head>
        <link href="styles/activate.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Anton&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap" rel="stylesheet">
        <title>Activate</title>
    </head>

    <body>
        <div class="container">
            <% if(!successful) { %>
            <div class="fail">
                Please use the link that was sent to your email to activate your account
            </div>
            <% } else { %>
            <div class="success">
                You successfully activated your account! You are now able to login using your credentials
            </div>
            <% }%>
        </div>
    </body>

</html>