<!DOCTYPE html>
<html>

    <head>
        <link href="/styles/classroom.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Anton&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap" rel="stylesheet">
        <title>Classroom</title>
    </head>

    <body>
        <div class="header">
            <div class="wrapper">
                <div class="user-info">
                    Water Polo
                    <div class="school">
                        State University of New York at Buffalo
                    </div>
                </div>
                <div class="back-button">
                    <a href="/courses">Back</a>
                </div>
            </div>
        </div>
        <div id="main-content" class="wrapper">
            <div class="sort-button-wrapper">
                <select id="sort" class="round">
                    <option value="volvo">Sort: Newest to Oldest</option>
                    <option value="saab">Sort: Oldest to Newest</option>
                    <option value="mercedes">Sort: Most Popular</option>
                    <option value="audi">Sort: Least Popular</option>
                </select>
            </div>
            <div class="discusion-posts">
                <div class="discussion" onclick="window.location.href = './discussion.html';">
                    How do I code in HTML?!
                </div>
                <div class="discussion" onclick="window.location.href = './discussion.html';">
                    Please! Struggling with PA1! HELP!
                </div>
                <div class="discussion" onclick="window.location.href = './discussion.html';">
                    Someone forgot their laptop at Davis 302...
                </div>
                <div class="discussion" onclick="window.location.href = './discussion.html';">
                    Best of Hertz's MEMES
                </div>
                <div class="discussion" onclick="window.location.href = './discussion.html';">
                    Sprint 1 incoming... YIKES!
                </div>
            </div>
            <div class="bottom-button-wrapper">
                <a class="fixed-btn fixed-right" href="/discussion/create/<%= courseID %>"> Create </a>
                <div class="fixed-btn fixed-left"> CSE 442 </div>
            </div>
        </div>
    </body>

</html>