<!DOCTYPE html>
<html>

    <head>
        <link href="/styles/CreateDiscussion.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Anton&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap" rel="stylesheet">
        <title>Create Discussion</title>
    </head>

    <body>
        <div class="header">
            <div class="wrapper">
                <div class="user-info">
                    Ayoub
                    <div class="school">
                        State University of New York at Buffalo
                    </div>
                </div>
                <div class="back-button">
                    <a href="./discussion.html">Back</a>
                </div>
            </div>
        </div>

        <div class="wrapper">
            <form action="/discussion/" method="POST">
                <input type="text" class="discussion-title" name="title" placeholder="Enter a one line summary..." />

                <textarea class="discussion-content" name="body" required></textarea>
                <input class="submit-button" type="submit" value="Submit">
            </form>
        </div>
    </body>

</html>