<!DOCTYPE html>
<html>

    <head>
        <link rel="stylesheet" type="text/css" href="/styles/create_course.css">
        <link href="https://fonts.googleapis.com/css?family=Anton&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
        <title>Course Code Entry</title>
    </head>

    <body>
        <div class="wrapper">
            <div id="form-wrapper">
                <form action="/courses/enroll" method="POST">
                    <input id="form-code" name="code" placeholder="Insert Course Code Here" />
                    <input id="form-submit" type="submit" value="Submit">
                </form>
            </div>
        </div>
    </body>

</html>