@media (min-width: 0px) {
  /* Mobile */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: 'Roboto', sans-serif;
    color: #202124;
    background-color: #f8f8ff;
    letter-spacing: 0.25px;
  }

  .header {
    width: 100%;
    height: 125px;
    background-color: #06253b;
    margin: 0 0 50px 0;
    display: flex;
    align-items: center;
    color: white;
    font-family: 'Anton';
  }

  .header .wrapper {
    display: flex;
  }

  .header .wrapper > div {
    width: 50%;
  }

  .user-info {
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #fefefe;
  }

  .user-info .course-name {
    font-size: 10px;
    letter-spacing: 1px;
    font-weight: normal;
    font-family: Roboto;
  }

  .header .back-button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .header .back-button a {
    background-color: white;
    padding: 15px 25px;
    text-decoration: none;
    text-transform: uppercase;
    color: #06253b;
    border-radius: 2px;
    border: 1px solid #06253b;
    transition: 0.5s all;
  }

  .header .back-button a:hover {
    color: white;
    background-color: #06253b;
    border: 1px solid #eee;
  }

  .wrapper {
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 15px;
  }

  .discussion-wrapper {
    width: 100%;
    max-width: 950px;
    margin: 0 auto;
    padding: 0 15px;
  }

  .discussion-card {
    background-color: #ececec;
    border: 1px solid rgb(190, 190, 190);
    border-radius: 5px;
    padding: 50px 50px;
  }

  .discussion-title {
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 25px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.507);
  }

  .discussion-header {
    display: flex;
    align-items: center;
    margin-top: 25px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.507);
  }

  .avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(0, 119, 255, 0.521);
  }

  .discussion-author {
    display: inline-block;
    font: 12px;
    margin-left: 10px;
  }

  .discussion-timestamp {
    font: 10px;
    font-weight: 300;
    margin-left: auto;
  }

  .discussion-content {
    margin-top: 25px;
  }

  .comment-textbox-card {
    margin-top: 50px;
    background-color: #ececec;
    border: 1px solid rgb(190, 190, 190);
    border-radius: 5px;
    padding: 50px 50px 25px 50px;
  }

  .comment-textbox {
    width: 100%;
    height: 125px;
    resize: none;
    padding: 10px 10px 10px 10px;
  }

  .comment-bottom-row {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
  }

  .small-btn {
    background-color: #0984e3;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
    padding: 10px;
  }

  .small-btn:hover {
    background-color: #008bf5;
    color: #fff;
  }

  .comment-header {
    display: flex;
    align-items: center;
    padding: 25px;
    border-bottom: 1px solid #000;
  }

  .comment-author {
    display: inline-block;
    font: 12px;
    margin-left: 10px;
  }

  .comment-timestamp {
    font: 10px;
    font-weight: 300;
    margin-left: auto;
  }

  .comment-card {
    margin-top: 50px;
    background-color: #ececec;
    border: 1px solid rgb(190, 190, 190);
    border-radius: 5px;
    padding: 25px 50px 25px 50px;
  }

  .comment-content {
    margin-top: 25px;
  }

  .comment-section {
    margin-bottom: 50px;
  }
}

@media (min-width: 481px) {
  /* Small Tablet */
}

@media (min-width: 768px) {
  /* Tablet */
}

@media (min-width: 1030px) {
  /* Small Desktop*/
}

@media (min-width: 1240px) {
  /* Desktop*/
}

@media (min-width: 1440px) {
  /* Large Desktop */
}
