body {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.16px;
  font-weight: 400;
  background-color: #fdfdfd;
}

.container {
  width: 1080px;
  margin: 0 auto;
}

.success {
  width: 300px;
  padding: 50px 50px;
  background-color: #6fff82;
  margin: 50px auto;
  border-radius: 25px;
  text-align: center;
}